@page
@model zad3FizzBuzzWebApp.Pages.HistoryModel
@{
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @foreach (var item in Model.History)
    {
        <p>
            @Html.DisplayFor(modelItem => item.Num) |
            @Html.DisplayFor(modelItem => item.Outcome) |
            @Html.DisplayFor(modelItem => item.date)
        </p>
    }
}
else
{
    <h3>You don't have permission to see this page</h3>
}